In [39]:
import yfinance as yf
import pandas as pd
import datetime as dt
import pandas_datareader.data as web
from pathlib import Path
import warnings

In [40]:
warnings.filterwarnings("ignore")

In [41]:
root = Path().resolve().parent  # get project root.

In [42]:
start = dt.datetime(2022, 7, 1)
end = dt.datetime(2025, 6, 1)
print(f"starts at {start} and ends at {end}")

starts at 2022-07-01 00:00:00 and ends at 2025-06-01 00:00:00

In [44]:
# Fetch stock data
tickers = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'JNJ', 'PFE', 'JPM', 'GS', 'XOM', 'CVX']
stock_data = yf.download(tickers, start=start, end=end, interval= "1d", auto_adjust=False)

# Fetch ETF Sector data
tickers = ['XLK', 'XLV', 'XLF', 'XLE']
ETF_data = yf.download(tickers, start=start, end=end, interval= "1d", auto_adjust=False)

# Fetch Economic Data from FRED API (GDP, Unemployment, Inflation)
gdp_data = web.DataReader('GDP', 'fred', start, end)
unemployment_data = web.DataReader('UNRATE', 'fred', start, end)
inflation = web.DataReader('CPIAUCSL', 'fred', start, end)

[*********************100%***********************]  10 of 10 completed
[*********************100%***********************]  4 of 4 completed

In [45]:
# Save Extracted Raw data
stock_data.to_csv(f"{root}/data/raw_data/stock_data.csv", index= True)
ETF_data.to_csv(f"{root}/data/raw_data/ETF_data.csv", index= True)
gdp_data.to_csv(f"{root}/data/raw_data/gdp_data.csv", index= True)
unemployment_data.to_csv(f"{root}/data/raw_data/unemployment_data.csv", index= True)
inflation.to_csv(f"{root}/data/raw_data/inflation.csv", index= True)

In [57]:
stock_data = stock_data.resample('D').ffill()
ETF_data = ETF_data.resample('D').ffill()

In [58]:
print("--------- stock data ----------")
print("shape: ", stock_data.shape)
print("\n\n")
stock_data.head()

--------- stock data ----------
shape:  (1065, 60)

Price        Adj Close                                                  \
Ticker            AAPL        AMZN         CVX       GOOGL          GS
Date
2022-07-01  136.736298  109.559998  129.863998  108.089256  276.468994
2022-07-02  136.736298  109.559998  129.863998  108.089256  276.468994
2022-07-03  136.736298  109.559998  129.863998  108.089256  276.468994
2022-07-04  136.736298  109.559998  129.863998  108.089256  276.468994
2022-07-05  139.324768  113.500000  126.451469  112.587769  274.593414

Price                                                                 ...  \
Ticker             JNJ         JPM        MSFT        PFE        XOM  ...
Date                                                                  ...
2022-07-01  163.953873  104.569672  253.158356  44.787289  78.991089  ...
2022-07-02  163.953873  104.569672  253.158356  44.787289  78.991089  ...
2022-07-03  163.953873  104.569672  253.158356  44.787289  78.991089  ...
2022-07-04  163.953873  104.569672  253.158356  44.787289  78.991089  ...
2022-07-05  162.693542  104.171921  256.347473  44.213631  76.518951  ...

Price         Volume                                                  \
Ticker          AAPL      AMZN       CVX     GOOGL       GS      JNJ
Date
2022-07-01  71051600  73021200   7684600  35476000  1749400  5498400
2022-07-02  71051600  73021200   7684600  35476000  1749400  5498400
2022-07-03  71051600  73021200   7684600  35476000  1749400  5498400
2022-07-04  71051600  73021200   7684600  35476000  1749400  5498400
2022-07-05  73353800  76583700  11513100  39342000  2480900  5676400

Price
Ticker           JPM      MSFT       PFE       XOM
Date
2022-07-01  10573600  22837700  16143300  26327900
2022-07-02  10573600  22837700  16143300  26327900
2022-07-03  10573600  22837700  16143300  26327900
2022-07-04  10573600  22837700  16143300  26327900
2022-07-05  12514200  22941000  18406800  34591100

[5 rows x 60 columns]

In [59]:
print("--------- ETF data ----------")
print("shape: ", ETF_data.shape)
print("\n\n")
ETF_data.head()

--------- ETF data ----------
shape:  (1065, 24)

Price       Adj Close                                         Close  \
Ticker            XLE        XLF         XLK         XLV        XLE
Date
2022-07-01  65.303017  30.235670  124.362061  123.475159  72.580002
2022-07-02  65.303017  30.235670  124.362061  123.475159  72.580002
2022-07-03  65.303017  30.235670  124.362061  123.475159  72.580002
2022-07-04  65.303017  30.235670  124.362061  123.475159  72.580002
2022-07-05  62.711788  30.131346  125.923782  122.761055  69.699997

Price                                               High             ...  \
Ticker            XLF         XLK         XLV        XLE        XLF  ...
Date                                                                 ...
2022-07-01  31.879999  127.410004  129.679993  72.889999  31.980000  ...
2022-07-02  31.879999  127.410004  129.679993  72.889999  31.980000  ...
2022-07-03  31.879999  127.410004  129.679993  72.889999  31.980000  ...
2022-07-04  31.879999  127.410004  129.679993  72.889999  31.980000  ...
2022-07-05  31.770000  129.009995  128.929993  71.419998  31.790001  ...

Price              Low                   Open                                 \
Ticker             XLK         XLV        XLE        XLF     XLK         XLV
Date
2022-07-01  125.230003  126.860001  72.379997  31.350000  126.32  128.289993
2022-07-02  125.230003  126.860001  72.379997  31.350000  126.32  128.289993
2022-07-03  125.230003  126.860001  72.379997  31.350000  126.32  128.289993
2022-07-04  125.230003  126.860001  72.379997  31.350000  126.32  128.289993
2022-07-05  124.959999  126.169998  71.080002  31.379999  125.68  128.429993

Price         Volume
Ticker           XLE       XLF      XLK      XLV
Date
2022-07-01  34602000  77308400  6965300  9366600
2022-07-02  34602000  77308400  6965300  9366600
2022-07-03  34602000  77308400  6965300  9366600
2022-07-04  34602000  77308400  6965300  9366600
2022-07-05  44932900  51536800  7170500  9987000

[5 rows x 24 columns]

In [60]:
print("---------- gdp data Frequency ----------")
print(gdp_data.shape, "\n\n")
print("---------- unemployment data Frequency ----------")
print(unemployment_data.index, "\n\n")
print("---------- inflation data Frequency ----------")
print(inflation.index)

---------- gdp data Frequency ----------
(1065, 1)


---------- unemployment data Frequency ----------
DatetimeIndex(['2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04',
               '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08',
               '2022-07-09', '2022-07-10',
               ...
               '2025-05-21', '2025-05-22', '2025-05-23', '2025-05-24',
               '2025-05-25', '2025-05-26', '2025-05-27', '2025-05-28',
               '2025-05-29', '2025-05-30'],
              dtype='datetime64[ns]', length=1065, freq='D')


---------- inflation data Frequency ----------
DatetimeIndex(['2022-07-01', '2022-07-02', '2022-07-03', '2022-07-04',
               '2022-07-05', '2022-07-06', '2022-07-07', '2022-07-08',
               '2022-07-09', '2022-07-10',
               ...
               '2025-05-21', '2025-05-22', '2025-05-23', '2025-05-24',
               '2025-05-25', '2025-05-26', '2025-05-27', '2025-05-28',
               '2025-05-29', '2025-05-30'],
              dtype='datetime64[ns]', length=1065, freq='D')

In [61]:
# Resample to daily Frequency
gdp_data = gdp_data.resample('D').ffill()
unemployment_data = unemployment_data.resample('D').ffill()
inflation = inflation.resample('D').ffill()

In [62]:
print("---------- gdp data ----------")
print(gdp_data.head(), "\n\n", gdp_data.tail(), "\n", gdp_data.shape, "\n\n")
print("---------- unemployment data ----------")
print(unemployment_data.head(), "\n\n", unemployment_data.tail(), "\n", unemployment_data.shape, "\n\n")
print("---------- inflation data ----------")
print(inflation.head(), "\n\n",inflation.tail(), "\n", inflation.shape)

---------- gdp data ----------
                  GDP
2022-07-01  26272.011
2022-07-02  26272.011
2022-07-03  26272.011
2022-07-04  26272.011
2022-07-05  26272.011

                   GDP
2025-05-26  29962.047
2025-05-27  29962.047
2025-05-28  29962.047
2025-05-29  29962.047
2025-05-30  29962.047
 (1065, 1)


---------- unemployment data ----------
            UNRATE
2022-07-01     3.5
2022-07-02     3.5
2022-07-03     3.5
2022-07-04     3.5
2022-07-05     3.5

             UNRATE
2025-05-26     4.2
2025-05-27     4.2
2025-05-28     4.2
2025-05-29     4.2
2025-05-30     4.2
 (1065, 1)


---------- inflation data ----------
            CPIAUCSL
2022-07-01    294.94
2022-07-02    294.94
2022-07-03    294.94
2022-07-04    294.94
2022-07-05    294.94

             CPIAUCSL
2025-05-26    320.58
2025-05-27    320.58
2025-05-28    320.58
2025-05-29    320.58
2025-05-30    320.58
 (1065, 1)

In [ ]:
# date_range = pd.date_range(start=stock_data.index[0], end=stock_data.index[-1], freq="D")
# gdp_data = gdp_data.reindex(date_range).ffill()
# unemployment_data = unemployment_data.reindex(date_range).ffill()
# inflation = inflation.reindex(date_range).ffill()

In [64]:
econ = pd.concat([gdp_data, unemployment_data, inflation], axis=1)
econ.columns = ['gdp', 'unemployment', 'inflation']
econ.index.name = 'Date'
econ.head()

                  gdp  unemployment  inflation
Date
2022-07-01  26272.011           3.5     294.94
2022-07-02  26272.011           3.5     294.94
2022-07-03  26272.011           3.5     294.94
2022-07-04  26272.011           3.5     294.94
2022-07-05  26272.011           3.5     294.94

In [65]:
# Flatten the MultiIndex columns
stock_data.columns = ['_'.join(col).strip() for col in stock_data.columns]
stock_data.head()

,Adj Close_AAPL,Adj Close_AMZN,Adj Close_CVX,Adj Close_GOOGL,Adj Close_GS,Adj Close_JNJ,Adj Close_JPM,Adj Close_MSFT,Adj Close_PFE,Adj Close_XOM,...,Volume_AAPL,Volume_AMZN,Volume_CVX,Volume_GOOGL,Volume_GS,Volume_JNJ,Volume_JPM,Volume_MSFT,Volume_PFE,Volume_XOM
Date,,,,,,,,,,,,,,,,,,,,,
2022-07-01,136.736298,109.559998,129.863998,108.089256,276.468994,163.953873,104.569672,253.158356,44.787289,78.991089,...,71051600,73021200,7684600,35476000,1749400,5498400,10573600,22837700,16143300,26327900
2022-07-02,136.736298,109.559998,129.863998,108.089256,276.468994,163.953873,104.569672,253.158356,44.787289,78.991089,...,71051600,73021200,7684600,35476000,1749400,5498400,10573600,22837700,16143300,26327900
2022-07-03,136.736298,109.559998,129.863998,108.089256,276.468994,163.953873,104.569672,253.158356,44.787289,78.991089,...,71051600,73021200,7684600,35476000,1749400,5498400,10573600,22837700,16143300,26327900
2022-07-04,136.736298,109.559998,129.863998,108.089256,276.468994,163.953873,104.569672,253.158356,44.787289,78.991089,...,71051600,73021200,7684600,35476000,1749400,5498400,10573600,22837700,16143300,26327900
2022-07-05,139.324768,113.500000,126.451469,112.587769,274.593414,162.693542,104.171921,256.347473,44.213631,76.518951,...,73353800,76583700,11513100,39342000,2480900,5676400,12514200,22941000,18406800,34591100

In [66]:
ETF_data.columns = ['_'.join(col).strip() for col in ETF_data.columns]
ETF_data.head()

,Adj Close_XLE,Adj Close_XLF,Adj Close_XLK,Adj Close_XLV,Close_XLE,Close_XLF,Close_XLK,Close_XLV,High_XLE,High_XLF,...,Low_XLK,Low_XLV,Open_XLE,Open_XLF,Open_XLK,Open_XLV,Volume_XLE,Volume_XLF,Volume_XLK,Volume_XLV
Date,,,,,,,,,,,,,,,,,,,,,
2022-07-01,65.303017,30.235670,124.362061,123.475159,72.580002,31.879999,127.410004,129.679993,72.889999,31.980000,...,125.230003,126.860001,72.379997,31.350000,126.32,128.289993,34602000,77308400,6965300,9366600
2022-07-02,65.303017,30.235670,124.362061,123.475159,72.580002,31.879999,127.410004,129.679993,72.889999,31.980000,...,125.230003,126.860001,72.379997,31.350000,126.32,128.289993,34602000,77308400,6965300,9366600
2022-07-03,65.303017,30.235670,124.362061,123.475159,72.580002,31.879999,127.410004,129.679993,72.889999,31.980000,...,125.230003,126.860001,72.379997,31.350000,126.32,128.289993,34602000,77308400,6965300,9366600
2022-07-04,65.303017,30.235670,124.362061,123.475159,72.580002,31.879999,127.410004,129.679993,72.889999,31.980000,...,125.230003,126.860001,72.379997,31.350000,126.32,128.289993,34602000,77308400,6965300,9366600
2022-07-05,62.711788,30.131346,125.923782,122.761055,69.699997,31.770000,129.009995,128.929993,71.419998,31.790001,...,124.959999,126.169998,71.080002,31.379999,125.68,128.429993,44932900,51536800,7170500,9987000

In [71]:
# Saved Extracted Data
stock_data.to_csv(f"{root}/data/clean_data/stock_data.csv", index= True)
ETF_data.to_csv(f"{root}/data/clean_data/ETF_data.csv", index= True)
econ.to_csv(f"{root}/data/clean_data/econ.csv", index= True)

In [72]:
stock_data.shape

(1065, 60)

In [73]:
ETF_data.isna().sum()

Adj Close_XLE    0
Adj Close_XLF    0
Adj Close_XLK    0
Adj Close_XLV    0
Close_XLE        0
Close_XLF        0
Close_XLK        0
Close_XLV        0
High_XLE         0
High_XLF         0
High_XLK         0
High_XLV         0
Low_XLE          0
Low_XLF          0
Low_XLK          0
Low_XLV          0
Open_XLE         0
Open_XLF         0
Open_XLK         0
Open_XLV         0
Volume_XLE       0
Volume_XLF       0
Volume_XLK       0
Volume_XLV       0
dtype: int64

In [74]:
stock_data.isna().sum()

Adj Close_AAPL     0
Adj Close_AMZN     0
Adj Close_CVX      0
Adj Close_GOOGL    0
Adj Close_GS       0
Adj Close_JNJ      0
Adj Close_JPM      0
Adj Close_MSFT     0
Adj Close_PFE      0
Adj Close_XOM      0
Close_AAPL         0
Close_AMZN         0
Close_CVX          0
Close_GOOGL        0
Close_GS           0
Close_JNJ          0
Close_JPM          0
Close_MSFT         0
Close_PFE          0
Close_XOM          0
High_AAPL          0
High_AMZN          0
High_CVX           0
High_GOOGL         0
High_GS            0
High_JNJ           0
High_JPM           0
High_MSFT          0
High_PFE           0
High_XOM           0
Low_AAPL           0
Low_AMZN           0
Low_CVX            0
Low_GOOGL          0
Low_GS             0
Low_JNJ            0
Low_JPM            0
Low_MSFT           0
Low_PFE            0
Low_XOM            0
Open_AAPL          0
Open_AMZN          0
Open_CVX           0
Open_GOOGL         0
Open_GS            0
Open_JNJ           0
Open_JPM           0
Open_MSFT          0
Open_PFE           0
Open_XOM           0
Volume_AAPL        0
Volume_AMZN        0
Volume_CVX         0
Volume_GOOGL       0
Volume_GS          0
Volume_JNJ         0
Volume_JPM         0
Volume_MSFT        0
Volume_PFE         0
Volume_XOM         0
dtype: int64

In [75]:
econ.isna().sum()

gdp             0
unemployment    0
inflation       0
dtype: int64