In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
from numba import njit

In [3]:
root = Path().resolve().parent

general_data=  pd.read_csv(f"{root}/data/clean_data/general_data_with_new_features.csv", index_col= 'Date')

price = [col for col in general_data.columns if col.startswith('Adj')]
stock_price = general_data[price]

stock_price.head()

,Adj Close_AAPL,Adj Close_AMZN,Adj Close_CVX,Adj Close_GOOGL,Adj Close_GS,Adj Close_JNJ,Adj Close_JPM,Adj Close_MSFT,Adj Close_PFE,Adj Close_XOM,Adj Close_XLE,Adj Close_XLF,Adj Close_XLK,Adj Close_XLV
Date,,,,,,,,,,,,,,
2022-07-06,140.663284,114.330002,124.785049,113.888962,271.415039,162.839661,103.496696,259.624359,45.164009,75.138512,61.641098,30.055471,127.007240,123.589432
2022-07-07,144.039139,116.330002,127.213737,118.074867,275.886932,163.022324,106.114395,261.760132,45.737648,77.538483,63.863457,30.491747,129.632874,124.113113
2022-07-08,144.718216,115.540001,126.548943,118.641968,273.918915,162.821396,105.781403,261.038483,45.523602,77.664787,63.836464,30.425360,129.691437,124.484467
2022-07-09,144.718216,115.540001,126.548943,118.641968,273.918915,162.821396,105.781403,261.038483,45.523602,77.664787,63.836464,30.425360,129.691437,124.484467
2022-07-10,144.718216,115.540001,126.548943,118.641968,273.918915,162.821396,105.781403,261.038483,45.523602,77.664787,63.836464,30.425360,129.691437,124.484467

In [4]:
split = (len(general_data) * 2)//3
train = general_data[:split, :]
test = general_data[split:, :]

InvalidIndexError: (slice(None, 706, None), slice(None, None, None))

In [11]:
def compute_return(df):
  new_col = ["returns_" + col[10:] for col in df]
  log_returns = np.log(df/df.shift(1)).fillna(0)
  log_returns.columns = new_col
  return log_returns

In [12]:
returns = compute_return(stock_price)

In [13]:
returns

,returns_AAPL,returns_AMZN,returns_CVX,returns_GOOGL,returns_GS,returns_JNJ,returns_JPM,returns_MSFT,returns_PFE,returns_XOM,returns_XLE,returns_XLF,returns_XLK,returns_XLV
Date,,,,,,,,,,,,,,
2022-07-06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-07-07,0.023716,0.017342,0.019276,0.036095,0.016342,0.001121,0.024978,0.008193,0.012621,0.031441,0.035418,0.014411,0.020462,0.004228
2022-07-08,0.004703,-0.006814,-0.005240,0.004791,-0.007159,-0.001233,-0.003143,-0.002761,-0.004691,0.001628,-0.000423,-0.002180,0.000452,0.002988
2022-07-09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2022-07-10,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-26,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2025-05-27,0.024984,0.024718,0.009403,0.025956,0.028315,0.010561,0.017415,0.023078,0.012359,0.004745,0.008622,0.017430,0.023486,0.013867
2025-05-28,0.001048,-0.006330,-0.013219,-0.003128,-0.011910,-0.005365,-0.006808,-0.007255,-0.018381,-0.013714,-0.012778,-0.006698,-0.004143,-0.005159
2025-05-29,-0.002348,0.004776,0.013799,-0.002905,-0.005901,0.007516,0.003334,0.002882,0.011581,0.005664,0.007443,0.005126,0.001685,0.006671
2025-05-30,0.004491,-0.003360,-0.008813,-0.000698,-0.002345,0.010557,-0.001401,0.003656,0.001704,-0.003805,-0.008914,0.002161,-0.003113,0.002113